
.navbar {
    color: white;
    background-color: black;
    width: 100px;
    display: flex;
    align-items: center;
    width:auto;
    justify-content: space-between;
    padding: 2rem 6rem;
    border-bottom: 1px solid white;
}

.navbar_links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar_links_logo{
    margin-right:2rem;
    cursor: pointer;
}

.navbar_links_container{
    display: flex;

}

.navbar p {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    margin: 0 1rem;
    transition: 0.3s ease-out;
    
}

.navbar p:hover {
    color: black;
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 0.25rem 0.75rem;
}

.navbar_connect {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar_button button {
    width: 152px;
    height: 58px;
    cursor: pointer;
    background-color: white;
    font-weight: 500;
    line-height: 25px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding:0.5rem 1rem;
    transition: 0.5s ease-out;
}

.navbar_button button:hover{
    background-color: black;
    color:white;
    outline: 1px solid white;
}

.navbar_menu{
    margin-left:1rem;
    display: none;
    position: relative;
}

.navbar_menu svg{
    cursor: pointer;
}

.navbar_menu_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    color: black;
    padding: 2rem;
    position: absolute;
    top:40px;
    right: 0;
    margin-top: 1rem;
    min-width:300px;
    border-radius: 5px;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

.navbar_menu_container p {
    margin: 2rem 0;
    
}

.navbar_menu_container p:hover {
    color: white;
    background-color: black;
    border-radius: 5px;
    border: none;
    padding:  0.75rem;
}

.navbar_menu_container_button {
    display: none;
}

@media screen and (max-width:1050px) {
   .navbar_links_container{
    display: none;
   } 

   .navbar_menu {
    display: flex;
   }

}

@media screen and (max-width:700px) {
    .navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width:550px) {
    .navbar {
        padding: 2rem;
    }

    .navbar_button {
        display: none;
    }

    .navbar_menu_container {
        top: 20px;
    }

    .navbar_menu_container_button {
        display: block;  
    }

    .navbar_menu_container_button button {
        width: 152px;
        height: 55px;
        cursor: pointer;
        background-color: black;
        color: white;
        font-weight: 500;
        line-height: 25px;
        border-radius: 15px;
        border: none;
        outline: none;
        font-size: 1.1rem;
        padding:0.5rem 1rem;
        transition: 0.5s ease-out;
    }

    .navbar_menu_container_button button:hover {
        background-color: white;
        color: black;
        outline: 1px solid black;
    }

}

